= form_for(@model, :url => akira_model_path(@model),:as => :model) do |f|
	
	.col-xs-12.col-sm-12.col-md-9.col-lg-9
		=render 'akira/partials/nav_profile'
		%br
		.center
			%h3
				Informacion General
			%hr
		%br
		= render "partial/user_general" , f: f 

		= f.submit "Guardar", :class =>"btn btn-success pull-right"


:javascript
	$("#model_ubication").geocomplete({
		map: ".map_canvas"
	});
			

