= form_for(@model, :url => akira_model_path) do |f|
	
	.col-xs-12.col-sm-12.col-md-9.col-lg-9

		%h3
			Informacion Personal
		= render "partial/user_general" , f: f 

		= f.submit "Guardar", :class =>"btn btn-success pull-right"



			

