<div class="row">
	<div class="large-4 columns">
		<h2 class="subheader"><%=link_to "Nombre modelo", root_path%></h2>
	</div>
<div class="large-8 columns">
	<ul class="inline-list right">
	  <li><%= link_to "Perfil", root_path%></li>
	  <li><a href="#">Estadisticas</a></li>
	  <li><%= link_to "Books", akira_books_path%></li>
	</ul>
</div>


	<hr>
</div>