<div class="row">
	<div class="large-3 columns">
		<img src="http://placehold.it/550x300">
	</div>
	<div class="large-7 columns">
		<p>he path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children</p>
	</div>
	<div class="large-2 columns">
		he path of the righteous man is beset
	</div>

</div>

