Hola q hace
<div class="container_show">
	<div class="row">
		<div class="small-6 large-4 columns">
			<div class="black">
				<em>“Give a girl the right shoes, and she can conquer the world.”</em>
			</div>
		</div>
		
		<% @users.each do |user| %>
	    <div class="small-6 large-4 columns">
	    	<div class="marco">
	    		<img src="http://placehold.it/288x200">
	    		<h3 class="subheader"><%= user.name %></h3>
	    		<%= link_to user.name, user %> signed up <%= user.created_at.to_date %>
	    	</div>
	    </div>
	  <% end %>

	</div>
</div>
