Este es El focking Index

<% if current_user %>
	Esta logueado
<% end -%>

<ul data-orbit>
  <li>
    <img src="http://cdn.vogue.es/uploads/images/thumbs/201330/peinados_perfectos_para_dias_de_playa_3147_620x.jpg" />
    <div class="orbit-caption">model Slide</div>
  </li>
  <li>
    <img src="http://cdn.vogue.es/uploads/images/thumbs/201328/alessandra_ambrosio_1184_620x.jpg" />
    <div class="orbit-caption">model Slide</div>
  </li>
  <li>
    <img src="../img/demos/demo3.jpg" />
    <div class="orbit-caption">model Slide</div>
  </li>
</ul>