<header class="slider">
  <div class="slideshow-wrapper">
  <div class="preloader"></div>
    <ul data-orbit>
      <li>
        <img src="http://dev.zeotheory.com/micropage/wp-content/uploads/2013/05/photodune-941641-fashion-model-beauty-shot-l.jpg">
        <div class="orbit-caption">...</div>
      </li>
    <li>
      <img src="http://dev.zeotheory.com/micropage/wp-content/uploads/2013/05/photodune-941641-fashion-model-beauty-shot-l.jpg" />
      <div class="orbit-caption">...</div>
    </li>
    <li>
      <img src="http://dev.zeotheory.com/micropage/wp-content/uploads/2013/05/photodune-941641-fashion-model-beauty-shot-l.jpg" />
      <div class="orbit-caption">...</div>
    </li>
  </ul>
</div>
</header>
<section class="info container">
<div class="row">
  <div class="small-12 large-4 columns">
      <div class="subtitle">
    <h3 class="subheader">Top talent sekkers</h3>
  </div>
    <p>
      The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.
    </p>
  </div>
  <div class="small-12 large-8 columns">
    <div class="row">
        <div class="subtitle">
          <h3 class="subheader">Lastest Portafolios</h3>
         </div>
      <!-- grid portfolios-->
      <ul class="small-block-grid-2 large-block-grid-2">
          <li>
            <div class="row">
                <div class="small-5 large-5 columns">
                  <img class="th" src="http://placehold.it/105x105">
                </div>
              <div class="small-7 large-7 columns">
               Nombre
              </div>
            </div>
          </li>
                 <li>
            <div class="row">
                <div class="small-5 large-5 columns">
                  <img class="th" src="http://placehold.it/105x105">
                </div>
              <div class="small-7 large-7 columns">
               Nombre
              </div>
            </div>
          </li>
                 <li>
            <div class="row">
                <div class="small-5 large-5 columns">
                  <img class="th" src="http://placehold.it/105x105">
                </div>
              <div class="small-7 large-7 columns">
               Nombre
              </div>
            </div>
          </li>
                 <li>
            <div class="row">
                <div class="small-5 large-5 columns">
                  <img class="th" src="http://placehold.it/105x105">
                </div>
              <div class="small-7 large-7 columns">
               Nombre
              </div>
            </div>
          </li>
                 <li>
            <div class="row">
                <div class="small-5 large-5 columns">
                  <img class="th" src="http://placehold.it/105x105">
                </div>
              <div class="small-7 large-7 columns">
               Nombre
              </div>
            </div>
          </li>
                 <li>
            <div class="row">
                <div class="small-5 large-5 columns">
                  <img class="th" src="http://placehold.it/105x105">
                </div>
              <div class="small-7 large-7 columns">
               Nombre
              </div>
            </div>
          </li>
      </ul>
      <!-- end grid-->
  </div>
</div>
</div>

<div class="row">
  <div class="subtitle">
    <h3 class="subheader">Featured Auditiond & Jobs</h3>
  </div>
  <!-- grid jobs-->
  <ul class="small-block-grid-2 large-block-grid-2">
    <li>
      <div class="row">
        <div class="small-4 large-4 columns">
          <img class="th" src="http://placehold.it/105x105">
        </div>
        <div class="small-8 large-8 columns">
          Nombre
        </div>
      </div> 
    </li>
    <li>
       <div class="row">
        <div class="small-4 large-4 columns">
          <img class="th" src="http://placehold.it/105x105">
        </div>
        <div class="small-8 large-8 columns">
          Nombre
        </div>
      </div> 
    </li>
    <li>
       <div class="row">
        <div class="small-4 large-4 columns">
          <img class="th" src="http://placehold.it/105x105">
        </div>
        <div class="small-8 large-8 columns">
          Nombre
        </div>
      </div> 
    </li>
    <li>
       <div class="row">
        <div class="small-4 large-4 columns">
          <img class="th" src="http://placehold.it/105x105">
        </div>
        <div class="small-8 large-8 columns">
          Nombre
        </div>
      </div> 
    </li>
  </ul>
</div>
</section>
