#carousel-home.carousel.slide.carrucel_home
  /Wrapper for slides
  .carousel-inner
    .item.active
      = image_tag "images/home1.png"
  /Controls

  %a{ :class=>"left carousel-control", :href=>"#carousel-example-generic", :"data-slide"=>"prev"}
    %span.icon-prev

  %a{ :class=>"right carousel-control",:href=>"#carousel-example-generic", :"data-slide"=>"next"}
    %span.icon-next


%section.info.container
  .row
    .col-sm-4.col-md-4.col-lg-4
      .subtitle
        %h3
          IsFamous
        %hr.gray
      %p
        Si usted es  actor, modelo, fotografo, o profesional del mundo creativo  en busca de su sueño, o un director de casting en busca del talento perfecto para su próximo proyecto, isfamous es el lugar para estar.
        %br
        %br
        Noticias, casting, entrevistas, actulizaciones y mucho mas en un solo lugar. 

    .col-sm-8.col-md-8.col-lg-8
      .row
        .subtitle
          %h3
            Portafolios Destacados
          %hr.gray
        -@users.each do |user|
          .col-sm-6.col-md-6.col-lg-6.famous_list
            .media
              %a.pull-left
                %picture
                  =image_tag user.photo
              .media-body
                %h4.media-heading
                  =user.name
                %p.text-muted
                  %small
                    %em
                      (Model/product)
                    %br
                    Cali/Colombia
                = link_to "Ver Perfil", home_user_path(user), :class=>"ver"
%section.info.container
  .row
    .subtitle
      %h3
        Audiciones & Trabajos destacados
      %hr.gray
    .col-xs-12.col-sm-6.col-md-6.col-lg-6.famous_list
      .media
        %a.pull-left
          %picture
            = image_tag ("lion.jpg")
        .media-body
          %h4.media-heading
            Comercial Para TOYOTA
          %p
            Se grabara Een Miami,+ 2000 Dolares, Principios de novenbre, Actores con visa vigente, MUJERES 18-22, 20-25, 40-45, 60-65; HOMBRES 45-50, 30-35, 22-27, 10-12

    .col-xs-12.col-sm-6.col-md-6.col-lg-6.famous_list
      .media
        %a.pull-left
          %picture
            = image_tag ("lion.jpg")
        .media-body
          %h4.media-heading
            Alfred Hitchcock
          %p
            Seguimos en la busqueda de el doble de Alfred Hitchcock




