.row
	.col-sm-12.col-md-10.col-lg-10
		.content_site
			.article
				.title
					%h3
						Portafolios
				.row.books_index
					#container
						- @books.each do |book|
							-book.pictures.each do |pic|
								.col-sm-12.col-md-4.col-lg-4.item_
									.center
										= image_tag pic.url_url(:thumb)
									


:javascript

	var container = document.querySelector('#container');
	var msnry = new Masonry( container, {
	  itemSelector: '.item_'
	});