.row
	-count = 0
	.col-sm-12.col-md-10.col-lg-10
		.content_site
			.article
				.title
					%h3
						= @book.name
				.row.books_index
					#container
						- @pictures.each do |picture|
							.col-sm-12.col-md-3.col-lg-3.item_
								.thumbnai.center
									= link_to image_tag(picture.url), "#{picture.url}" ,:class=>"fancybox-button" , :rel=>"fancybox-button"

	

:javascript
	$(document).ready(function() {
		$(".fancybox-button").fancybox({
			prevEffect		: 'none',
			nextEffect		: 'none',
			closeBtn		: false,
			helpers		: {
				title	: { type : 'inside' },
				buttons	: {}
			}
		});
	});