.row
	-count = 0
	.col-sm-12.col-md-10.col-lg-10
		.content_site
			.title
				%h3
					Nombre del Book
			.article
				.row.books_index
					#container
						- @pictures.each do |picture|
							.col-sm-12.col-md-3.col-lg-3.item_
								.thumbnai.center
									= link_to image_tag(picture.url), "#myModal",:'data-toggle'=>"modal" 

	.modal.fade#myModal
		.modal-dialog
			.modal-content
				#carousel-example-generic.carousel.slide
					.carousel-inner
						- @pictures.each do |picture|
							- if count == 0
								.item.active
									= image_tag(picture.url)
							.item
								= image_tag(picture.url)
							- count =+ 1
					%a{ :class=>"left carousel-control", :href=>"#carousel-example-generic", :"data-slide"=>"prev"}
						%span.icon-prev
					%a{ :class=>"right carousel-control",:href=>"#carousel-example-generic", :"data-slide"=>"next"}
						%span.icon-next

:javascript


	$('#myCarousel').on('slide.bs.carousel', function () {
	// do something…
	})

	$('#myModal').on('hidden.bs.modal', function () {
	  // do something…
	})

	var container = document.querySelector('#container');
	var msnry = new Masonry( container, {
	  itemSelector: '.item_'
	});