.col-sm-12.col-md-9.col-lg-9
	=render 'akira/partials/nav_profile'
	%br
	.center
		%h3
			Portafolios
		%hr
	.form-group
		.stream
			= link_to "Nuevo book ", new_akira_user_book_path(current_user), :class=>"btn btn-info pull-right"

		
		.row
			#container
				-@books.each do |book| 
					.col-sm-12.col-md-2.col-lg-4.item_
						.thumbnai.center
							= image_tag book.front_url(:thumb).to_s
							%h4
								= link_to book.name, akira_user_book_path(current_user , book.id)



:javascript

	var container = document.querySelector('#container');
	var msnry = new Masonry( container, {
		itemSelector: '.item_'
	});