

<div class="row">
  <a href="#" data-reveal-id="myNew" class="button success">Click Me For A Modal</a>
  <h4>Listing books</h4>
<ul class="small-block-grid-4">
  <% @books.each do |book| %>
    <li><img src="http://placehold.it/550x500">
        <%= link_to book.name, akira_book_path(book) %>
    </li>
  <% end %>
</ul>

  
</div>


<!--Modal-->
<div id="myNew" class="reveal-modal">
  <div class="row">
    <h3 class="subheader">Nuevo Book</h3>
    <%= render 'form' %>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>