.col-xs-12.col-sm-12.col-md-9.col-lg-9
	.row.head_akira.center
		%h3
			Crear un nuevo portafolio

	.stream
		= form_for @book , :url => akira_user_books_path(current_user) do |f|
			= render 'form' , :f => f
