
#container
	%article.item_portfolio.col-sm-6.col-md-4.col-lg-4
		.portfolio.center
			“Give a girl the right shoes, and she can conquer the world.”
	-@users.each do |user|
		=link_to home_user_path (user)do
			%article.item_portfolio.col-sm-6.col-md-4.col-lg-4
				.portfolio.center
					= image_tag user.photo
					%h4
						= user.name
					%p

						=truncate(user.general_description, :length => 150)

:javascript

	var container = document.querySelector('#container');
	var msnry = new Masonry( container, {
	  // options
	  columnWidth: 0,
	  itemSelector: '.item_portfolio'
	});

