<div class="container_show">
	<div class="row">
		<div class="small-6 large-4 columns">
			<div class="black">
				<em>“Give a girl the right shoes, and she can conquer the world.”</em>
			</div>
		</div>
	</div>
</div>