#container
	.row
		%article.item_portfolio.col-sm-12.col-md-8.col-lg-8
			.portfolio
				%figure.center
					= image_tag @user.photo
				%p
					%h3
						=@user.name
					Morbi vulputate egestas sem, eu cursus ligula ullamcorper non. Curabitur tristique velit eu mauris venenatis egestas. Phasellus bibendum placerat metus, sed molestie magna semper eget….
		%article.item_portfolio.col-sm-12.col-md-4.col-lg-4
			.portfolio
				%p

					Morbi vulputate egestas sem, eu cursus ligula ullamcorper non. Curabitur tristique velit eu mauris venenatis egestas. Phasellus bibendum placerat metus, sed molestie magna semper eget….