/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *
*/
$gris: #f9f7f2;
$gray_dark: #dcd9d6;
$face: #455897;
$twitter: #82b2e1;
$insta: #547197 ;
$red: #e78d8c;



@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?12421085');
  src: url('font/fontello.eot?12421085#iefix') format('embedded-opentype'),
       url('font/fontello.woff?12421085') format('woff'),
       url('font/fontello.ttf?12421085') format('truetype'),
       url('font/fontello.svg?12421085#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


@import "bootstrap.min";
@import "bootstrap_and_overrides";
@import "fontello";
@import "home";
@import "sites";
@import "models";




.center{
  text-align: center;
}
.brand {
  float: left;
  padding-right: 8px;
}
ul.nav {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
ul.nav li {
  display: inline;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
 
.center{
  text-align: center;
}