
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?12421085#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-heart:before { content: '\e800'; } /* '' */
.icon-cc:before { content: '\e83f'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-videocam:before { content: '\e807'; } /* '' */
.icon-picture:before { content: '\e806'; } /* '' */
.icon-camera:before { content: '\e805'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-plus-circled:before { content: '\e809'; } /* '' */
.icon-help-circled:before { content: '\e80d'; } /* '' */
.icon-lock:before { content: '\e813'; } /* '' */
.icon-lock-open:before { content: '\e814'; } /* '' */
.icon-thumbs-up:before { content: '\e808'; } /* '' */
.icon-download-cloud:before { content: '\e812'; } /* '' */
.icon-upload-cloud:before { content: '\e811'; } /* '' */
.icon-print:before { content: '\e810'; } /* '' */
.icon-comment-empty:before { content: '\e80c'; } /* '' */
.icon-direction:before { content: '\e80b'; } /* '' */
.icon-trash:before { content: '\e80f'; } /* '' */
.icon-calendar:before { content: '\e80e'; } /* '' */
.icon-rocket:before { content: '\e816'; } /* '' */
.icon-bug:before { content: '\e815'; } /* '' */
.icon-smile:before { content: '\e81f'; } /* '' */
.icon-frown:before { content: '\e820'; } /* '' */
.icon-android:before { content: '\e819'; } /* '' */
.icon-apple:before { content: '\e81a'; } /* '' */
.icon-facebook:before { content: '\e81e'; } /* '' */
.icon-facebook-squared:before { content: '\e822'; } /* '' */
.icon-gplus-squared:before { content: '\e81c'; } /* '' */
.icon-gplus:before { content: '\e818'; } /* '' */
.icon-instagramm:before { content: '\e81b'; } /* '' */
.icon-heart-empty:before { content: '\e801'; } /* '' */
.icon-tumblr:before { content: '\e823'; } /* '' */
.icon-tumblr-squared:before { content: '\e821'; } /* '' */
.icon-twitter:before { content: '\e817'; } /* '' */
.icon-mail:before { content: '\e827'; } /* '' */
.icon-users-1:before { content: '\e825'; } /* '' */
.icon-user-add:before { content: '\e824'; } /* '' */
.icon-picture-1:before { content: '\e826'; } /* '' */
.icon-attach:before { content: '\e829'; } /* '' */
.icon-pencil:before { content: '\e828'; } /* '' */
.icon-briefcase:before { content: '\e82a'; } /* '' */
.icon-twitter-circled:before { content: '\e82e'; } /* '' */
.icon-facebook-circled:before { content: '\e82d'; } /* '' */
.icon-tumblr-circled:before { content: '\e82b'; } /* '' */
.icon-linkedin-circled:before { content: '\e82c'; } /* '' */
.icon-upload-cloud-outline:before { content: '\e82f'; } /* '' */
.icon-chat-alt:before { content: '\e831'; } /* '' */
.icon-bell:before { content: '\e830'; } /* '' */
.icon-zoom-in:before { content: '\e833'; } /* '' */
.icon-zoom-out:before { content: '\e832'; } /* '' */
.icon-chart:before { content: '\e835'; } /* '' */
.icon-key-outline:before { content: '\e834'; } /* '' */
.icon-quote-left:before { content: '\e837'; } /* '' */
.icon-quote-right:before { content: '\e838'; } /* '' */
.icon-rss:before { content: '\e836'; } /* '' */
.icon-ok-circled:before { content: '\e83e'; } /* '' */
.icon-at:before { content: '\e839'; } /* '' */
.icon-hash:before { content: '\e83a'; } /* '' */
.icon-female:before { content: '\e83c'; } /* '' */
.icon-male:before { content: '\e83d'; } /* '' */
.icon-spread:before { content: '\e83b'; } /* '' */
.icon-linkedin-squared:before { content: '\e81d'; } /* '' */