// Place all the styles related to the models controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.select_date{
	width: 30%;
	display: inline-block;
}

.verde{
	background: #a0d105
}
.red{
	background: #901a00
}
.img-profile{
	width: 100%;
}
.img_upload{
	width: 30%;
}
.head_akira{
	background: $gris;
	border-bottom: 1px solid $gray_dark;
	.statics{
		padding: 20px;
		display: inline-block;
	}
}
.pading_profile{
	padding: 0px;
}
.nav_event{
	padding-top: 5px
}
.stream{
	padding: 20px;
	.media{
		img{
			max-width: 100px;
			max-height: 100px;
		}
	}
}
.social_icon{
	width: 120px;
	height: 120px;
	margin: 0 auto;
	display: block;
	margin: 20px;
	font-size: 24px;
	padding-top: 24px;
	font-weight: bold;
	p{
		font-size: 15px;
		font-weight: normal;
	}
}
.face{
	border: 10px solid $face;
	color:$face;
}
.twiter{
	border: 10px solid $twitter;
	color:$twitter;
}
.instagram{
	border: 10px solid $insta;
	color:$insta;
}
.views{
	border: 10px solid $red ;
	color:$red;
}

.img-job{
	margin: 0px 20px 20px;
	max-width: 230px;
}