// Place all the styles related to the models controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.select_date{
	width: 30%;
	display: inline-block;
}

.verde{
	background: #a0d105
}
.red{
	background: #901a00
}