.row
	.col-xs-12.col-sm-12.col-md-4.col-lg-4.stream
		
		= form_for(@user, :url=> akira_user_site_path(@user),:as => :user) do |f|
			
			.page
				=render "akira/sites/general_step", f: f
			.page.hidden
				=render "akira/sites/#{current_user._type.downcase}", f: f
			.page.hidden
				=render "akira/sites/book_step", f: f
			
			
			

		.col-xs-12.col-sm-12.col-md-7.col-lg-7