.row
	.col-xs-12.col-sm-12.col-md-4.col-lg-4.stream

		= form_for(@user, :url=> akira_user_site_path(@user),:as => :user) do |f|
			
			=render "akira/sites/general_step", f: f
			
			
			=f.submit "Actualizar" ,class: "btn btn-success btn-lg btn-block"
		.col-xs-12.col-sm-12.col-md-7.col-lg-7