%footer
	.row
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			%ul.nav.nav-pills
				%li
					=link_to "Privacy policy", "#"
				%li
					= link_to  "Terms of service", "#"
				%li
					= link_to  "Help", ""
				%li
					= link_to  "Contact ", ""
	.row
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			%em
				Todos lo derechos resevados
	.reserved

