%nav.navbar.navbar-inverse.site_nav{:role=>"navigation"}
	.navbar
		.navbar-header
			%span.icon-bar
			%span.icon-bar
		.collapse.navbar-collapse.navbar-ex1-collapse
			%ul.nav.navbar-nav.navbar-right
				%li
					= link_to "HOME", root_path
				%li
					= link_to "ABOUT", about_path
				%li
					= link_to "GALERIA", books_path
				%li
					= link_to "CONTACTENOS", contact_path
						


