%nav{:role=>"navigation", :class=>"navbar nav_home"}
	.logo
		=image_tag("images/isfamous.png")
	.collapse.navbar-collapse.navbar-ex1-collapse
		%ul.nav.navbar-nav.navbar-right
			%li
				= link_to "HOME" ,"#"
			%li
				= link_to "PORTAFOLIO",home_users_path
			%li
				= link_to "INGRESAR" , new_user_session_path
			%li
				= link_to "REGISTRARSE" ,new_user_registration_path
