%nav.navbar.navbar-inverse.site_nav{:role=>"navigation"}
	.navbar
		.navbar-header
			%span.icon-bar
			%span.icon-bar
		.collapse.navbar-collapse.navbar-ex1-collapse
			%ul.nav.navbar-nav.navbar-right
				%li
					%a
						Home