.row
	.col-sm-12.col-md-9.col-lg-9
		.content_site
			.article
				.title
					%h3
						Bienvenido
				%p.description
					= @user.general_description
				%hr
				.h3
					Books
				.books_site
					-  @books.each do |book|
						.col-sm-6.col-md-4.col-lg-4
							%picture 
								= link_to image_tag(book.front_url(:thumb)), pictures_path(book.id)
					
			